html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content { 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 0.625rem;  
  margin-bottom: 1.25rem; 
  margin-top: 8rem;
  justify-content: flex-end; 
  width: 100%; 
  margin-right: 1rem;
}

.page-title h2 {
  margin: 0;
  font-family: IRANYekanX, sans-serif;
  font-weight: 600;
  font-size: 1.25rem; 
  color: var(--color-big-stone-950);
}

.page-title img {
  width: 1.875rem; 
  height: 1.875rem;
}


.filter-addbtn-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.search-filter-addbtn-div {
  width: 52.72rem; 
  height: 2.59rem; 
  padding-right: 1.14rem; 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0; 
  gap: 11rem;
  margin-bottom: 1.5rem; 
}

.class-list {
  width: 53.875rem; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr)); 
  gap: 1.5rem; 
  padding: 0; 
  direction: rtl;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  margin-top: 1.5rem; 
}

.pagination-btn {
  padding: 0.5rem 1rem; 
  border-radius: 8px;
  background-color:  var(--color-big-stone-950);
  color: --white; 
  border: none; 
  transition: background-color 0.3s ease, transform 0.1s ease; 
}

.pagination-btn:hover:not(:disabled) {
  background-color: --color-big-stone-800; 
  transform: scale(1.05); 
}

.pagination-btn:disabled {
  background-color: #cccccc; 
  cursor: not-allowed;
}

.page-indicator {
  font-size: 1rem;
  color: var(--bg-blue);
  margin: 0 0.5rem; 
}