html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content { 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  align-items: end;
}

.page-title h2 {
  margin: 0;
  font-family: 'IRANYekanXVF', sans-serif;
  font-weight: 600;
  font-size: 1.25rem; 
  color: #0C1E33;
}

.page-title img {
  width: 1.875rem; 
  height: 1.875rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15.6875rem; 
  height: 100%;
  padding-top: 1.25rem; 
  background: #0C1E33;
  color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-addbtn-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}


.page-title {
  display: flex;
  align-items: center;
  gap: 0.625rem;  
  margin-bottom: 1.25rem; 
}

.search-filter-addbtn-div {
  width: 52.72rem; 
  height: 2.59rem; 
  padding-right: 1.14rem; 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0; 
  gap: 11rem;
  margin-bottom: 1.5rem; 
}

.class-list {
  width: 53.875rem; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr)); 
  gap: 1.5rem; 
  padding: 0; 
}